APP_ENV=QA
APP_SECRET_KEY=CAMBIAR_EN_ENV_REAL
APP_HOST=0.0.0.0
APP_PORT=5000
APP_DEBUG=False

DB_SERVER=SERVIDOR_O_INSTANCIA
DB_DATABASE=APP_SCHEDULER_QA
DB_USER=USUARIO_SQL
DB_PASSWORD=PASSWORD_SQL_ESCAPADA_PARA_DOCKER
DB_DRIVER=ODBC Driver 17 for SQL Server
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes
DB_TIMEOUT=10

USUARIO_ADMIN_DEFECTO=blizama
PASSWORD_ADMIN_DEFECTO=CAMBIAR_EN_ENV_REAL

RUTA_BASE_SCRIPTS=scripts
RUTA_BASE_ENV_SCRIPTS=env_scripts
RUTA_BASE_LOGS_TAREAS=logs_tareas
RUTA_BASE_LOGS_SISTEMA=logs_sistema
MAX_SCRIPT_SIZE_MB=5
MAX_ENV_SIZE_KB=100
ZONA_HORARIA=America/Santiago
